<html>
  <head>
    <title>Scraped MetOffice Weather Warnings</title>
  </head>
  <body>
    <h1>Scraped MetOffice Weather Warnings</h1>
    <p>
      This is an <b>UNOFFICIAL</b> scrape of the geoJSON data from the
      MetOffice's web site at <a href="https://www.metoffice.gov.uk/weather/warnings-and-advice/uk-warnings">
	https://www.metoffice.gov.uk/weather/warnings-and-advice/uk-warnings</a>. Please go there
      for the definitive article.
    </p>
    <p>
      Otherwise: <a href="latest-warnings.geojson" download>Latest Warnings</a> as of {{WHEN}}
    </p>
    <p>Source code is
    available <a href="https://gitlab.com/b-rowlingson/weatherwarnings">on
    GitLab</a>. Its basically a one-liner that searches for the
    geojson in the MetOffice home page and sends it to a file.</p>
  </body>
</html>
